<div class="container" style=" display: flex;
font-size:14px;
height:100vh;
background:#d8d8d8">
  <nav class="navbar" style="margin:auto;
  padding:0.5rem 1.5rem;
  background:#fff;
  border-radius:1rem;
  box-shadow:0 4px 12px rgba(0,0,0,0.1);">
    <ul class="nav-links"  style="display:flex;
    gap:2rem;">
      <li class="nav-link">
      <a href="#"> </a>
      <ul class="drop-down">
        <li></li>
      </ul>
      </li>
      <li class="nav-link">
      <a href="#"> </a>
      </li>
      <li class="nav-link">
      <a href="#"> </a>
      </li>
      <li class="nav-link">
      <a href="#"> </a>
      </li>
      <li class="nav-link">
      <a href="#"> </a>
      </li>
    </ul>
  </nav>
</div>