{% load static %}

<!DOCTYPE html>
<html lang="ar">

<head>


  <!-- Active Campaign Tracking Code -->
  <script type="text/javascript">
    (function (e, t, o, n, p, r, i) { e.visitorGlobalObjectAlias = n; e[e.visitorGlobalObjectAlias] = e[e.visitorGlobalObjectAlias] || function () { (e[e.visitorGlobalObjectAlias].q = e[e.visitorGlobalObjectAlias].q || []).push(arguments) }; e[e.visitorGlobalObjectAlias].l = (new Date).getTime(); r = t.createElement("script"); r.src = o; r.async = true; i = t.getElementsByTagName("script")[0]; i.parentNode.insertBefore(r, i) })(window, document, "https://diffuser-cdn.app-us1.com/diffuser/diffuser.js' %}", "vgo");
    vgo('setAccount', '476499877');
    vgo('setTrackByDefault', true);
    vgo('process');
  </script>
  <!-- End Active Campaign Tracking Code -->

  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-NZSRJ5Z');</script>
  <!-- End Google Tag Manager -->

  <!-- Facebook Pixel Code -->
  <script>
    !function (f, b, e, v, n, t, s) {
      if (f.fbq) return; n = f.fbq = function () {
        n.callMethod ?
          n.callMethod.apply(n, arguments) : n.queue.push(arguments)
      };
      if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
      n.queue = []; t = b.createElement(e); t.async = !0;
      t.src = v; s = b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
      'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '530723697083707');
    fbq('track', 'PageView');
  </script>
  <noscript>
    <img height="1" width="1" src="https://www.facebook.com/tr?id=530723697083707&ev=PageView&noscript=1" />
  </noscript>
  <!-- End Facebook Pixel Code -->

  <!-- Hotjar Tracking Code -->
  <script>
    (function (h, o, t, j, a, r) {
      h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
      h._hjSettings = { hjid: 1354413, hjsv: 6 };
      a = o.getElementsByTagName('head')[0];
      r = o.createElement('script'); r.async = 1;
      r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
      a.appendChild(r);
    })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
  </script>

  <meta charset="UTF-8">
  <meta name="author" content="Webased info@webased.nl" />
  <meta name="copyright" content="&copy; Wellbeing Escapes 2024" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Cuprum|Source+Sans+Pro:400,700" rel="stylesheet">
  <meta name="csrf-param" content="_csrf">
  <meta name="csrf-token"
    content="pYk9M4Uh3M7HfnFz2L2zGipaczqkgI75xmMb8QdNfvfN5FBdz0ibgpgkGhKKhYV1fh4cYPTxw42gKH6UdQsxsw==">
  <title>Health and Wellbeing holiday destinations worldwide | Wellbeing Escapes</title>
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon.png' %}">
  <meta name="google-site-verification" content="A0aPvzWCb2YTfQKwiFLRGW-gY5MSpiCyBmjC9iCiguo" />
  <meta name="facebook-domain-verification" content="o733r5olm0b55k6ku9bmzz9p4ncpfp" />
  <meta name="apple-mobile-web-app-title" content="Wellbeing Escapes">
  <meta name="application-name" content="Wellbeing Escapes">
  <meta name="theme-color" content="#94ae8b">

  <meta name="description"
    content="A wide range of healthy holidays and retreats in Europe, Asia, Africa, Caribbean, Middle East and America">
  <link href="{% static 'assets/f6bebe91/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/f52130ab/css/bootstrap.css' %}" rel="stylesheet">
  <link href="{% static 'css/site.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/c6f149db/css/select2.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/c16da81e/css/select2-addl.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/c16da81e/css/select2-krajee.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/6c2190a8/css/kv-widgets.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/all.css' %}">
  <link rel="stylesheet" href="{% static 'css/all.min.css' %}">


  <script>
    function gotoPage() {
      location.assign($(this).attr('url'));
    }


    function gotoPage() {
      location.assign($(this).attr('url'));
    }

    function toggleText() {
      var arrow = $(this).children('div').children('i');
      if ($(arrow).hasClass('fa-chevron-down')) {
        $(this).removeClass('lower_text').addClass('all_height_text');
        $(arrow).addClass('fa-chevron-up').removeClass('fa-chevron-down');
      } else {
        $(this).removeClass('all_height_text').addClass('lower_text');
        $(arrow).addClass('fa-chevron-down').removeClass('fa-chevron-up');
      }
    }



    function showMobileMenu() {
      var menu_id = $('#header-mobile-menu');
      if (menu_id.hasClass('slide_up')) {
        $('#header-mobile-menu').removeClass('slide_up').addClass('slide_down');
        $('#top-nav-mobile-link').html('<i class="fa fa-times"></i>');
      } else {
        $('#header-mobile-menu').removeClass('slide_down').addClass('slide_up');
        $('#top-nav-mobile-link').html('<i class="fa fa-bars"></i>');
      }
    }

    function goToHotel(id) {
      $.ajax({
        url: '/site/ajax-go-to-hotel',
        type: 'POST',
        data: { hotel_id: id },
        dataType: 'json',
        success: function (hotel) {
          window.location.assign(hotel['url']);
        }
      });
    }

    function gotoStandardFeefoPage() {
      window.open('https://www.feefo.com/en-GB/reviews/wellbeing-escapes?displayFeedbackType=BOTH&timeFrame=YEAR', '_blank');
    }

    function hasNewsletterCookie() {
      var name = 'newsletter-popup-dismissed=';
      var decodedCookie = decodeURIComponent(document.cookie);
      var ca = decodedCookie.split(';');
      for (var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
          c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
          return c.substring(name.length, c.length);
        }
      }
      return false;
    }

    function setNewsletterCookie() {
      var d = new Date();
      d.setTime(d.getTime() + (8640000000)); // 100 days (100*24*60*60*1000) in milliseconds
      document.cookie = 'newsletter-popup-dismissed=yes;expires=' + d.toUTCString() + ';path=/';
    }

    //function hasReferenceCookie()
    //{
    //	var name = 'first-visit-reference=';
    //	var decodedCookie = decodeURIComponent(document.cookie);
    //	var ca = decodedCookie.split(';');
    //	for(var i = 0; i <ca.length; i++) {
    //	    var c = ca[i];
    //		while (c.charAt(0) == ' ') {
    //			c = c.substring(1);
    //		}
    //		if (c.indexOf(name) == 0) {
    //			return c.substring(name.length, c.length);
    //		}
    //	}
    //	return false;
    //}

    function setReferenceCookie() {
      var gclid = 0;
      var utm_source = 0;
      var utm_medium = 0;
      if (gclid || utm_source == 'ActiveCampaign') {
        var d = new Date();
        d.setTime(d.getTime() + (5184000000)); // 60 days (60*24*60*60*1000) in milliseconds
        if (gclid) {
          document.cookie = 'first-visit-reference=Google Ads;expires=' + d.toUTCString() + ';path=/';
          document.cookie = 'first-visit-gclid=' + gclid + ';expires=' + d.toUTCString() + ';path=/';
          document.cookie = 'first-visit-utm-medium=' + utm_medium + ';expires=' + d.toUTCString() + ';path=/';
          document.cookie = 'first-visit-url=' + window.location.href + ';expires=' + d.toUTCString() + ';path=/';
        } else if (utm_source == 'ActiveCampaign') {
          document.cookie = 'first-visit-reference=ActiveCampaign;expires=' + d.toUTCString() + ';path=/';
          document.cookie = 'first-visit-gclid=' + gclid + ';expires=' + d.toUTCString() + ';path=/';
          document.cookie = 'first-visit-utm-medium=' + utm_medium + ';expires=' + d.toUTCString() + ';path=/';
          document.cookie = 'first-visit-url=' + window.location.href + ';expires=' + d.toUTCString() + ';path=/';
        }
      }
    }


    var s2options_d6851687 = { "themeCss": ".select2-container--krajee", "sizeCss": "", "doReset": true, "doToggle": false, "doOrder": false };
    window.select2_61f85299 = { "allowClear": false, "theme": "krajee", "width": "100%", "placeholder": "Select and jump to a hotel directly ... ", "language": "en" };
  </script>

</head>
{% include 'parts/nav.html' %}

<body>

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NZSRJ5Z" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->


  <div class="container">
    <div class="row">
      <div class="col-xs-12 min-height-0">
      </div>
    </div>
  </div>
  <div class="content">

    <div class="container category-index-page margin-bottom-40">
      <div class="row">
        <div class="col-xs-12 text-center">
          <h1 class="black-text margin-top-10">الأماكن</h1>
        </div>
      </div>
      <div class="row">
        <div url="{% url 'Siwa' %}"
          class="category-index-block hidden-xs col-sm-12 image-with-text-container cursor-pointer">
          <img class="full-width" src="{% static 'images/country/1250x300/e8126f0143dfbd2eec10e3cf473433.jpg'%}" alt="Siwa" title="Siwa" >
          <div class="image-underlay-text bg-purple">
            <div class="title-font white-text">سيوة</div>
          </div>
        </div>
        <div
          class="category-index-block col-xs-12 hidden-sm hidden-md hidden-lg image-with-text-container cursor-pointer"
          url="{% url 'Siwa' %}">
          <img class="full-width" src="{% static 'images/country/396x300/5f622fdbee00b2b6784896ede33cf61.jpg'%}" alt="Siwa " title="Siwa ">
          <div class="image-underlay-text bg-purple">
            <div class="title-font white-text">سيوة</div>
          </div>
        </div>
        <div url="{% url 'Sinia' %}"
          class="category-index-block hidden-xs col-sm-4 image-with-text-container cursor-pointer">
          <img class="full-width" src="{% static 'images/country/396x300/5f890a1874ef888826adea71609a6e3.jpg'%}" alt="Sinia" title="Sinia" >
          <div class="image-underlay-text bg-purple">
            <div class="title-font white-text">سيناء</div>
          </div>
        </div>
        <div
          class="category-index-block col-xs-4 hidden-sm hidden-md hidden-lg image-with-text-container cursor-pointer"
          url="{% url 'Sinia' %}">
          <img class="full-width" src="{% static 'images/country/396x300/5f890a1874ef888826adea71609a6e3.jpg'%}" alt="Sinia " title="Sinia ">
          <div class="image-underlay-text bg-purple">
            <div class="title-font white-text">سيناء</div>
          </div>
        </div>
        <div url="{% url 'Aswan' %}"
          class="category-index-block hidden-xs col-sm-8 image-with-text-container cursor-pointer">
          <img class="full-width" src="{% static 'images/country/824x300/30e60e11461ab94b5d5855571fb9348.jpg'%}" alt="Aswan" title="Aswan" >
          <div class="image-underlay-text bg-purple">
            <div class="title-font white-text">أسوان</div>
          </div>
        </div>
        <div
          class="category-index-block col-xs-8 hidden-sm hidden-md hidden-lg image-with-text-container cursor-pointer"
          url="{% url 'Aswan' %}">
          <img class="full-width" src="{% static 'images/country/396x300/9abf6c83079c5ce808494159886de70.jpg'%}" alt="Aswan " title="Aswan ">
          <div class="image-underlay-text bg-purple">
            <div class="title-font white-text">أسوان</div>
          </div>
        </div>
        <div url="{% url 'Helwan' %}"
          class="category-index-block hidden-xs col-sm-8 image-with-text-container cursor-pointer">
          <img class="full-width" src="{% static 'images/country/824x300/9a99fbb56f155907c045bb7985b665a.jpg'%}" alt="Helwan" title="Helwan" >
          <div class="image-underlay-text bg-purple">
            <div class="title-font white-text">حلوان</div>
          </div>
        </div>
        <div
          class="category-index-block col-xs-12 hidden-sm hidden-md hidden-lg image-with-text-container cursor-pointer"
          url="{% url 'Siwa' %}">
          <img class="full-width" src="{% static 'images/country/396x300/7e95a422ab4a0db6c5de36c7caad57d.jpg'%}" alt="Helwan " title="Helwan ">
          <div class="image-underlay-text bg-purple">
            <div class="title-font white-text">حلوان</div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div id="modalNewsletterEvent" class="fade modal" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <a class="close-link" data-dismiss="modal" aria-hidden="true">No, thanks</a>

        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-xs-12">

              <div class="row">
                <div class="col-xs-12 text-center margin-bottom-20">
                  <h2 class="black-text newsletter_popup_title">Sign up here to attend our Complimentary Wellbeing at
                    Home Live online sessions with top Experts, Doctors and Practitioners</h2>
                </div>
                <div class="col-xs-12 text-center">
                  <div class="row">
                    <form id="form_subscribe_newsletter_9" action="/site/newsletter" method="post">
                      <input type="hidden" name="_csrf"
                        value="pYk9M4Uh3M7HfnFz2L2zGipaczqkgI75xmMb8QdNfvfN5FBdz0ibgpgkGhKKhYV1fh4cYPTxw42gKH6UdQsxsw==">
                      <div class="hidden-xs col-sm-2 text-right">
                        <i class="darkgrey-text fa fa-envelope-o fa-2x"></i>
                      </div>
                      <div class="input-field-newsletter col-xs-7">
                        <input type="text" id="Newsletter_email_address_9" class="search-input-mainpage-newsletter"
                          name="Newsletter[email_address]" value="" placeholder="your e-mail address">
                      </div>
                      <div id="emailaddress" class="col-xs-5 col-sm-3 text-left">
                        <div class="search-btn">
                          <button type="submit" val="9" class="btn btn-signup btn-white">SIGN UP</button>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="row">
                    <div class="col-xs-12 text-center" id="newsletter_subscribe_result_9" style="display:none"> </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>

      </div>
    </div>
  </div>
  <script src="{% static 'assets/28576a83/jquery.js' %}"></script>
  <script src="{% static 'assets/27b0ff0e/yii.js' %}"></script>
  <script src="{% static 'assets/f52130ab/js/bootstrap.js' %}"></script>
  <script src="{% static 'assets/c6f149db/js/select2.full.min.js' %}"></script>
  <script src="{% static 'assets/c16da81e/js/select2-krajee.min.js' %}"></script>
  <script src="{% static 'assets/6c2190a8/js/kv-widgets.min.js' %}"></script>
  <script src="{% static 'assets/27b0ff0e/yii.activeForm.js' %}"></script>
  <script>jQuery(function ($) {
      jQuery('#modalOpeningHours').modal({ "show": false });
      jQuery && jQuery.pjax && (jQuery.pjax.defaults.maxCacheLength = 0);
      if (jQuery('#selected_hotel_id').data('select2')) { jQuery('#selected_hotel_id').select2('destroy'); }
      jQuery.when(jQuery('#selected_hotel_id').select2(select2_61f85299)).done(initS2Loading('selected_hotel_id', 's2options_d6851687'));
      jQuery('#selected_hotel_id').on('select2:select', function () { goToHotel(this.value); });

      jQuery('#modalSearchHotel').modal({ "show": false });
      jQuery('#form_subscribe_newsletter_9').yiiActiveForm([], []);
      jQuery('#modalNewsletterEvent').modal({ "show": false, "backdrop": "static", "keyboard": false });
    });</script>
  <script>jQuery(window).on('load', function () {

      $('.category-index-block').on('click', gotoPage);


      $('#why-wbe-icons-view-more-btn').on('click', gotoPage);


      $('#social-icon-facebook').on('click', function () {
        window.open('https://www.facebook.com/Wellbeing-Escapes-120617274622/', '_blank');
      });
      $('#social-icon-twitter').on('click', function () {
        window.open('https://twitter.com/WellbeingEscps', '_blank');
      });
      $('#social-icon-instagram').on('click', function () {
        window.open('https://www.instagram.com/wellbeingescapes/', '_blank');
      });
      //$('#social-icon-pinterest').on('click', function() {
      //	window.open('https://www.instagram.com/wellbeingescapes/','_blank');
      //});
      $('#social-icon-linkedin').on('click', function () {
        window.open('https://www.linkedin.com/company/wellbeing-escapes-ltd', '_blank');
      });



      $('#header-logo-image').on('click', function () {
        window.location.assign('/');
      });
      $('#top-nav-mobile-link').on('click', showMobileMenu);

      $('.opening-hour-line').on('click', '', function () {
        if (!$('#modalOpeningHours').data('bs.modal').isShown) {
          $('#modalOpeningHours').modal('show');
        }
      });

      $('.header-search-hotel-link').on('click', function () {
        if (!$('#modalSearchHotel').data('bs.modal').isShown) {
          $('#modalSearchHotel').modal('show');
        }
      });

      $('a[href^="#an-"]').on('click', function () {
        $('html, body').animate({
          scrollTop: $('[id="' + $.attr(this, 'href').substr(1) + '"]').offset().top
        }, 500);
        return false;
      });

      $.fn.modal.Constructor.prototype.enforceFocus = function () { }; /* Fix to get focus on select2 dropdown box in select country modal */

      $('.click-to-feefo-image').on('click', gotoStandardFeefoPage);
      $('#footer-mobile-call-button').on('click', function () {
        window.location.assign('tel:+442037357555');
      });
      $('#footer-whatsapp-button').on('click', function () {
        window.open('https://wa.me/447733528631', '_blank');
      });
      $('#whatsapp-link-desktop').on('click', function () {
        window.open('https://wa.me/447733528631', '_blank');
      });

      if (!hasNewsletterCookie()) {
        setTimeout(function () {
          if (!$('#modalNewsletterEvent').data('bs.modal').isShown) {
            $('#modalNewsletterEvent').modal('show');
            $('#Newsletter_email_address_9').focus();
          }
          setNewsletterCookie();
        }, 8000);
      }
      setReferenceCookie();


      $(document).on('beforeSubmit', '#form_subscribe_newsletter_9', function () {
        $.ajax({
          url: '/site/ajax-subscribe-newsletter',
          type: 'POST',
          data: { email: $('#Newsletter_email_address_9').val() },
          dataType: 'json',
          success: function (result) {
            if (result.message.length > 0) {
              $('#newsletter_subscribe_result_9').html(result.message);
              $('#newsletter_subscribe_result_9').slideDown();
              if (result.status == 400 || result.status == 'subscribed') {
                if ($('#modalNewsletterEvent').data('bs.modal').isShown) {
                  setTimeout(function () {
                    $('#modalNewsletterEvent').modal('hide')
                  }, 2000);
                }
              }
            }
          }
        });
        return false; // Cancel form submitting.
      });

      $('#modalNewsletterEvent').on('shown.bs.modal', function () {
        $('#Newsletter_email_address_9').focus();
      })

    });</script>


</body>

</html>
{% include 'parts/footer.html' %}