{% extends 'base.html' %}
{% load static %}


{% block body %}

<div class="content">

    <div class="container">
        <div class="row">
            <div class="hidden-xs col-sm-3">

                <div class="row">
                    <div class="col-xs-12 margin-top-10">
                        <div class="filter-border-purple padding-10" id="contactwidget">
                            <div>
                                <p><b>Address EMT:</b></p>
                                <p>cairo-downtown</p>
                                <p>55 Talaat harb</p>
                                <p>Egypt </p>
                            </div>
                            <br>
                            <div>
                                <p><b>Email Address:</b></p>
                                <p><a href="mailto:info@.com">info@ُEMT.com</a></p>
                            </div>
                            <br>
                            <div>
                                <p><b>Telephone:</b></p>
                                <p><a href="tel:+442013224573">+2001141054678</a></p>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-9">

                <h1 class="black-text margin-top-10 text-center">How we work</h1>

                <h3 class="margin-top-0">Fast Facts</h3>

                <p>
                    <b>You are unlikely to get a better price going direct</b>
                </p>
                <p>
                <ul>
                    <li>Contrary to popular belief, you do not pay more when you book with a travel company. We do not
                        add an
                        extra fee on our price to our customers. Our resort partners compensate us for providing them
                        with your
                        booking.</li>
                    <li>We buy in volume so we can negotiate ultra competitive rates and benefits that you will find
                        difficult
                        to match directly with the resorts.</li>
                    <li>Our flexible pricing structure gives you the freedom to benefit from reduced prices if you book
                        a
                        treatment package, or spa credit to use towards a single treatment if you don’t want a package.
                    </li>
                    <li>Our treatment and activity packages have been negotiated with discounts and free treatments. If
                        you
                        wait until you go to the spa you will pay more to buy the treatments individually. </li>
                    <li>We have additional loyalty offers and discounts for our repeat clients.</li>
                </ul>
                </p>

                <p>
                    <b>Peace of Mind for you</b>
                </p>
                <p>
                <ul>
                    <li>Your holiday is financially protected courtesy of our <b>ATOL bonding</b> (License no. 10269)
                    </li>
                    <li>If anything goes wrong while you are away or with your travel arrangements, we will sort it out
                        for
                        you and try and minimise the stress. We have an emergency line for our customers for out of
                        office
                        hours.</li>
                    <li>If you want the convenience of booking online your credit card details are safely encrypted and
                        secure.</li>
                    <li>All of our online bookings are checked and a real person looks at them to make sure that all is
                        in
                        order. You can call us at any time during our office hours to discuss your booking.</li>
                </ul>
                </p>

                <h3 class="">Our Values</h3>
                <p>
                <ul>
                    <li>We <b>listen</b> to your needs and offer a highly consultative service, in order to offer you
                        the best
                        wellbeing experience possible. We provide instant availability and pricing information on our
                        website so
                        that you can have all the facts at your fingertips. We passionately believe in honesty, accuracy
                        and
                        commitment to quality.</li>
                    <li>We <b>research</b> all of our escapes. We’re proudly picky about who we work with and have
                        personally
                        tried and tested every destination so that you can benefit from an authentic wellbeing
                        experience.</li>
                    <li>We <b>deliver</b> a wide-range of products with a high level of service from start to finish. We
                        want
                        you to feel that the wellbeing experience has started as soon as you get in contact with us.
                    </li>
                </ul>
            </div>
        </div>
        <br><br><br><br>
    </div>
</div>

{% endblock %}