{% extends 'base2.html' %}

{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-xs-12 min-height-0"></div>
    </div>
</div>

<div class="content">

    <div class="container">
        <div class="row">
            <div class="hidden-xs col-sm-3">

                <div class="row">
                    <div class="col-xs-12 margin-top-10">
                        <div class="filter-border-purple padding-10" id="contactwidget">
                            <div>
                                <p><b>Address EMT:</b></p>
                                <p>cairo-downtown</p>
                                <p>55 Talaat harb</p>
                                <p>Egypt </p>
                            </div>
                            <br>
                            <div>
                                <p><b>Email Address:</b></p>
                                <p><a href="mailto:info@.com">info@ُEMT.com</a></p>
                            </div>
                            <br>
                            <div>
                                <p><b>Telephone:</b></p>
                                <p><a href="tel:+442013224573">+2001141054678</a></p>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-9">

                <h1 class="black-text margin-top-10 text-center">Guaranteed best resort prices in Egypt</h1>

                <div class="clearfix margin-top-40">
                    We often advise our clients that we have the best offers on the market when it comes to medical
                    tourism offers. That's
                    why we created EMT. We want you to be sure that you get medical tourism in Egypt at the best
                    prices. </div>

                <div class="clearfix margin-top-20">
                    <h3 class="insection-header">What does the Best Price Guarantee apply to?</h3>
                </div>
                <div class="clearfix margin-top-20">
                    We want you to be sure that you get medical tourism in Egypt at the best prices. </div>

                <div class="clearfix margin-top-20">
                    <h3 class="insection-header">How does it work?</h3>
                </div>
                <div class="clearfix margin-top-20">
                    Contact us within 24 hours of booking and tell us that you have found a lower price. If you can
                    meet the requirements set out in our Terms & Conditions below we will gladly refund the
                    difference.
                </div>

                <div class="clearfix margin-top-20">
                    <h3 class="insection-header">Here’s what you need to do:</h3>
                </div>
                <div class="clearfix margin-top-20">
                    <ul>
                        <li>You must contact us by email within 24 hours of receiving your booking confirmation from
                            us. All elements of the package must be identical to qualify for the Best Price
                            Guarantee including, but not limited to: duration
                            of stay, spa treatments, ground transportation vehicle type, flight, flight number, air
                            travel cabin class, accommodation provider, room or suite type, board basis, other
                            activities.
                        </li>
                        <li> securities and
                            trade association memberships including ABTA, ATOL and IATA.</li>
                        <li>The comparisons must be available to the general public and not applicable to closed
                            user promotions, discounts or corporate discounts. The rate must be quoted and bookable
                            in the same currency as your EMT
                            booking (without reference to currency converters).</li>
                        <li>All quote comparisons are subject to verification by EgyptMedical. We will not accept
                            any evidence of a lower price that we cannot independently confirm. We will not verify
                            any request that we believe is the result of an
                            error or is made fraudulently or in bad faith.</li>
                    </ul>
                </div>
            </div>
        </div>
        <br><br><br><br>
    </div>
</div>
{% endblock content %}